<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div>
            <div class="userdetail"> 
                <i class="material-icons" style="font-size:100px">
                    person
                </i>
                <div class="inside">
                    <div>
                    <p>
                Name: <%= user.name%></p>
                <p>Std: <%= user.std%></p>
            </div>
            <div class="signout">
                <a href="/users/signout"> Sign out</a>
                
            </div>
                </div>
            </div>
        <div class="form_container">
        <%- include ('form'); -%>
        </div>

        <div class="hhh">
        <% for (form of forms){%>
            
            <% if (form.student_signup.id == a && form.student_signup) { %>
                <div class="ffd">
                Std:<%= form.std %>
                <br>
                Subject:<%= form.subject%>
                <br>
                Name:<%= form.student_signup.name %>
                <br>
                Expected Marks:<%= form.grade%>
                <br>
            </div>
            <% } %>
        
        <%} %>
        </div>


    </div>
    <div>
        
    </div>
    </body>
</html>

