<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body>
        <div>
            <ul>
        <p class="naeming">Std 10th Students Reviews</p>
        </ul>
        <div class="hhh">


            <% for (form of forms){%>
                


                <% if (form.std == '10') { %>
                
                    <div class="ffd">
                    
                    Std :  &ensp;
                    <%= form.std %>
                    <br>
                    Subject : &ensp;
                    <%= form.subject%>
                    <br>
                    The instructor's contribution to the course was: &ensp;
                    <%= form.q1%>
                    <br>
                    Instructor's use of examples and illustrations was:  &ensp;
                    <%= form.q2%>
                    <br>
                    tudent's confidence in instructor's knowledge was: &ensp;
                    <%= form.q3%>
                    <br>
                    Amount you learned was:	&ensp;
                    <%= form.q4%>
                    <br>
                    The course as a whole was &ensp;
                    <%= form.q5%>
                    <br>
                    The course content was: &ensp;
                    <%= form.q6%><br>
                    What grade do you expect in this course? &ensp;
                    <%= form.grade%>
                    <br>
                    Is there any other feedback you'd like to give on this class? &ensp;
                    <%= form.feedback%>
                    <br>
                </div>
                
                <% } %>
                
            <%} %>
        </div>
    </div>
    </body>
</html>